// Bootstrap variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;
$black:    #000 !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;

$primary:       $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$secondary:     $gray-400 !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

// Tables
$table-accent-bg:             rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color:    $gray-900 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight:   700 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-color:                rgba($black, 0.6) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

// Toasts
$toast-color:                       $white !default;
$toast-background-color:            rgba($gray-900, .95) !default;
$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($white, .1) !default;

// Begin DBN Update.
$drawer-bg:                        #f5f9fd !default;
$navbar-dark-color:                rgba($black, 1) !default;
$navbar-dark-hover-color:          rgba($white, 0.5) !default;
$navbar-light-color:               rgba($white, 1) !default;
$navbar-light-hover-color:         rgba($black, 0.5) !default;
$navbar-bg:                        $white !default;
$navbar-link:                      $black !default;
$navbar-link-hover:                $black !default;
$navbarsitetitlecolor:             $black !default;
$courseheaderbg:                   #ffffff !default;
$pagenavbuttonsbg:                 #aabbcd !default;
$body-bg:                          #f5f9fd !default;
$courseboxheight:                  200px !default;

$nav-tabs-link-active-bg:           rgba($primary, 10%) !default;
// End DBN Update.

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;

$border-radius: .25rem !default;
$border-radius-lg: .6rem !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);


// Begin DBN Update.

// Navbar customizations
.navbar.fixed-top {
    background-color: $navbar-bg!important;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.6)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: $navbar-link;
}
.navbar-light .navbar-toggler {
    color: $navbar-link;
}
.navbar.fixed-top #usernavigation .nav-link {
    color: $navbar-link;
}
.userinitials {
    background-color: $pagenavbuttonsbg;
}
#usernavigation .usermenu .dropdown-toggle::after, span.login a {
    color: $navbar-link;
}
.primary-navigation .moremenu .nav-link:hover, .primary-navigation  .moremenu .nav-link:focus, .primary-navigation .moremenu .nav-link.active:focus, .primary-navigation .moremenu .nav-link.active:hover, .primary-navigation .moremenu .nav-link.active {
    background-color: lighten($navbar-bg, 4%);
    border-bottom-color: darken($navbar-bg, 15%);
}
//Rollover and hover
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $navbar-link-hover;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: $navbar-link-hover;
}
.navbar-light .navbar-brand {
    color: $navbarsitetitlecolor;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: $navbar-link-hover;
}

// Edit button.
form.editmode-switch-form {
    color: $navbar-link!important;
}
.editmode-switch-form .text-primary {
    color: $navbar-link!important;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: $primary;
}



// Page elements.
.drawer {
    background-color: $drawer-bg;
}
.drawerheader {
    background-color: darken($drawer-bg, 5%);
    box-shadow: 0 0 3px 0px rgb($black,30%);
}
.drawer-toggles .drawer-toggler .btn {
    background-color: darken($drawer-bg, 5%);
}
.message-app {
    background-color: $drawer-bg;
}
#region-main {
    overflow-y: visible;
    background-color: transparent;
}
#user-notifications {
    margin: 0 15px;
}
.activity-navigation.container-fluid {
    background-color: $gray-100;
    padding: 1rem;
    border-radius: $border-radius;
}
#page.drawers .main-inner {
    box-shadow: 0 13px 37px rgb(92 107 121 / 40%);
    border: 1px solid $gray-300;
}
@media (min-width: 768px) {
    #page.drawers .main-inner {
        padding: 0.75rem;
        max-width: $course-content-maxwidth;
        width: $course-content-maxwidth;
    }
}
@media (min-width: 576px){
    #page.drawers .main-inner {
        margin-top: 2.5rem;
    }
}
@media (max-width: 576px){
    #page.drawers .main-inner {
        padding: .75rem;
    }
}
div#blockslider {
    padding: 1rem;
}
#courseheaderimage.p-3 {
    padding: 0 !important;
}
#courseheaderimage {
    background-size: cover;
    border-radius: 0!important;
    margin-bottom: 0!important;
    position: relative;
}
header#page-header {
    background-color: $courseheaderbg;
    //border-radius: $border-radius $border-radius 0 0;
    padding-top: 1rem;
}
.secondary-navigation {
    border-radius: 0 0 $border-radius $border-radius;
    margin-bottom: 0;
}
div#page-content:not(#page-login-index div#page-content, #page-mod-quiz-attempt div#page-content) {
    background: linear-gradient($courseheaderbg 0px, rgba($courseheaderbg,0.75) 75px, rgba($courseheaderbg,0) 300px);
}
.path-mod .activity-header:not(:empty) {
    background-color: $white;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}


// My courses drop down.
.dropdown.mycoursesmenu {
   // background-color: $navbar-bg;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
}
.dropdown-menu.dropdown-menu-right.iconsidebar.show {
    padding: 1rem;
    width: 235px;
    border: 0;
    border-radius: $border-radius;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 40%);
}
.dropdown.mycoursesmenu i::after {
    content: "";
    margin-right: 0;
    margin-left: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px;
    width: 9px;
    border: 0;
}

// Header content.
.secondary-navigation {
    max-width: $course-content-maxwidth;
    margin-left: auto;
    margin-right: auto;
    background-color: $courseheaderbg;
}
.format-site .secondary-navigation {
    max-width: 100%;
}
.secondary-navigation .navigation, .moremenu .nav-tabs {
    background-color: $white;
}
.secondary-navigation nav.moremenu.navigation.observed {
    //box-shadow: 0 0 1px 0px rgb($black,45%);
}
@media (min-width: 768px) {
    .secondary-navigation .navigation {
        padding: 0;
        margin: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .secondary-navigation {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 768px) {
    .secondary-navigation .navigation {
        margin: 0;
        padding: 0;
    }
}
.headerbuttons .btn-secondary {
    background-color: $courseheaderbg;
    border-color: darken($courseheaderbg, 1%);
}
header#page-header .progress {
    background-color: #a1d5e1;
}
/*.iconsidebar .list-group-item, .list-group-item:last-child {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-300;
}*/
#blockslider a.list-group-item {
    background-color: $body-bg;
}
.headerbutton {
    border-radius: 0;
}
.easyenrolform .btn .btn-secondary, .easyenrolform .qr-button, .easyenrolform .btn, .easyenrolform #enrolform_course_code {
    border-radius: 0px !important;
}
.iconset {
    background-color: $gray-100;
    padding: 1rem;
}
.progress.courseview {
    height: 1.5rem;
    border-radius: 0; 
}
.easyenrolform {
    margin-left: auto; 
    margin-right: auto; 
}

.breadcrumb a {
    color: $black;
}

.headerbuttons {
    display: inline-flex;
    float: right;
    z-index: 1;
    position: relative;
}

// Fix for full width issues on activity pages.
@if $course-content-maxwidth !== 100% {
    .header-maxwidth {
        max-width: 100%;
    }
    .pagelayout-report .secondary-navigation, .pagelayout-course .secondary-navigation, .pagelayout-incourse .secondary-navigation, .pagelayout-admin .secondary-navigation, .pagelayout-base .secondary-navigation, .secondary-navigation .navigation .nav-tabs {
        max-width: 100%;
    }
}

// Background for header text
.courseheaderimage-light .page-context-header {
    padding: .25rem 1rem;
    background-color: rgba($white, 65%);
    backdrop-filter: blur(7px);
   //border-radius: $border-radius;
}
.courseheaderimage-dark .page-context-header {
    padding: .25rem 1rem;
    background-color: rgba($black, 65%);
    backdrop-filter: blur(7px);
    //border-radius: $border-radius;
}



.drawer-toggles .drawer-toggler .btn, .btn-footer-popover, button#back-to-top {
    background-color: $pagenavbuttonsbg!important;
}
.drawer-toggles .drawer-toggler .btn:hover, .btn-footer-popover:hover, button#back-to-top:hover {
    background-color: darken($pagenavbuttonsbg, 15%)!important;
}

.path-mod-assign [data-region="grading-navigation-panel"] {
    background-color: $white;
}
.path-mod-assign [data-region="grade-actions-panel"] {
    background-color: $white;
}
#course-category-listings.columns-3 {
    background-color: $white;
}
#course-category-listings.columns-3 #category-listing>div, #course-category-listings.columns-3 #course-listing>div, #course-category-listings.columns-3 #course-detail>div {
    background-color: $white;
}
.dynamictabs {
    background-color: $white;
}
// Header Image height on smaller screens.
@media (max-width: 992px) {
    div#courseheaderimage {
        min-height: 100px !important;
    }
}

.block .block-cards .course-summaryitem {
    background-color: rgb($primary, 4%);
}

.block_myoverview.block {
    padding: 1rem;
}

div#fpslider {
    background-color: $white;
    //border-radius: $border-radius;
    border: 1px solid $gray-400;
    margin-bottom: 2rem;
}

.pagelayout-maintenance #page {
    background-color: $white;
}

.login-container .login-identityproviders .login-identityprovider-btn {
    border: 2px solid $gray-300;
    padding: 1rem;
    background-color: $white;
}

.navbar-light .navbar-toggler-icon {
    filter: brightness(0.0) saturate(0);
}

.courseindex .courseindex-section {
    border-left: solid 3px transparent;
    border: 1px solid $gray-200;
    margin-bottom: 1rem;
    background-color: $white;
}


/**
* Available Courses
**/

.class-box-fp {
    height: $courseboxheight;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $body-bg;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-style3 {
    min-height: $courseboxheight;
    max-height: inherit;
    background-color: $body-bg;
    padding: 1rem;
    border: 1px solid $body-bg;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-2col {
    min-height: $courseboxheight;
    max-height: inherit;
    background-color: $body-bg;
    border: 2px solid $white;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.6);
}

.class-box-fp .course-title h4 a:hover {
    text-decoration: none;
}

.class-box-fp .course-title, .class-box-fp-style3 .course-title {
    background-color: $white;
    padding: $spacer;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.class-box-fp-2col .course-title-2col {
    background-color: $white;
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.course-summary-2col {
    margin: 0 2rem;
    padding: $spacer;
    color: $white;
    background-color:rgba($black, 0.8);
    border-radius: 0 0 .25rem .25rem;
}
@media screen and (max-width: 576px) {
    .course-summary-2col{
        display:none;
    }
}


.courseimagecontainer {
    height: calc(45%);
}

.class-box4 {
    margin-bottom: 2rem;
    border: 1px solid $white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    height: $courseboxheight;
    overflow: hidden;
}

.class-box {
    border: 1px solid $gray-300;
    padding: 0;
    margin-bottom: 2rem;
    height: $courseboxheight;
    overflow: hidden;
}

.class-fullbox {
    margin-bottom: 2rem;
    border: 1px solid $white;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 30%);
    padding: 1rem;
}
.class-fullbox7 {
    margin-bottom: 2rem;
    border: 1px solid $white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 4rem 2rem 0 2rem;
}

.class-fullbox .course-summary {
    height: 100%;
    overflow: auto;
}

.fullbox {
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: overlay;
}

.fullbox7 {
    background-color: $white;
}

.coursedata {
    padding-top: .5rem;
}

.course-title-fullboxbkg {
    background-color: $white;
    padding: 1rem;
}

.course-title-fullboxbkg7 {
    padding: 1rem;
}

.course-title4 {
    padding-top: 1rem;
}

.course-title {
    padding: .5rem;
}

.class-list {
    clear: both;
}

.coursesmorelink {
    padding: 1rem;
}

.course-image-view {
    height: 100%;
}

.dash-course-image-view {
    padding-top: 5rem;
}

.class-box4 .course-summary4 {
    height: 4rem;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.class-box .course-summary {
    margin:.5rem;
}

.class-box .course-summary::-webkit-scrollbar, .class-box4 .course-summary4::-webkit-scrollbar {
    width: 7px;
}

.class-box .course-summary::-webkit-scrollbar-track, .class-box4 .course-summary4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.class-box .course-summary::-webkit-scrollbar-thumb, .class-box4 .course-summary4::-webkit-scrollbar-thumb {
    background-color: darken($primary, 15%);
    outline: 1px solid slategrey;
}

.tooltip-inner {
    max-width: 350px;
    font-size: 14px;
}

.course_category_tree {
    padding: 1rem;
}

.cat-icon {
    margin: 5px;
}

.category.box-class {
    padding-bottom: $spacer;
    text-align: center;
}

.category.box-class:nth-child(5) {
    clear: both;
}

.circle-count {
    float: right;
    padding-left: 3px;
}

.courseimagecontainer:hover .course-overlay {
    opacity: 1;
}

.courseimagecontainer:hover .course-image-view {
    opacity: 0.3;
}

.course-overlay {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 40%;
    font-size: 5rem;
    margin-top: -7rem;
    color: $gray-800;
}

.coursestyle2 {
    width: 100%;
    height: $courseboxheight;
    background-color: #000;
    color: #fff;
    text-align: left;
    font-size: 16px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.coursedimmed1 {
    background-color: rgba($gray-200, 0.9);
}

.coursedimmed2 {
    background-color: rgba(150, 150, 150, 0.9);
    height: 100%;
}

.coursedimmed3 {
    background-color: $gray-600;
    padding: 1rem;
}

.coursedimmed4 {
    background-color: rgba(150, 150, 150, 0.9);
}

.coursedimmed9 {
    background-color: rgba($secondary, 0.2);
}

.class-box-courseview {
    background-color: #dae6e5;
    border: 1px solid #dae6e5;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 100%;
}

.coursestyle2 * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.coursestyle2 figcaption {
    position: absolute;
    height: 98px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
}

.coursestyle2 h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

a.coursestyle2url {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

a.coursestyle3url {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.coursestyle2:hover figcaption,
.coursestyle2.hover figcaption {
    height: calc(100%);
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar {
    width: 7px;
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.coursestyle2:hover p.course-summary::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media screen and (min-width: 992px) {
    .coursestyle2:hover p.course-summary,
    .coursestyle2.hover p.course-summary {
        overflow-y: auto;
        height: 5rem;
    }
}

.coursestyle2 .course-card {
    margin-top: 4rem;
}

.coursestyle2:hover .course-card {
    margin-top: 0rem;
}

ul.teacherscourseview {
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
}

.tilecontainer {
    position: relative;
    margin: 3rem 0 2rem 0;
}

.coursestyle9row {
    padding: 1rem 0;
    border-bottom: 1px dashed $gray-300;
}

.coursestyle9row:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: $gray-200;
}
.hoverhighlight:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: $gray-200;
}
/*
.easyenrolform {
    display: flex;
    justify-content: center;
}
.secondary-navigation {
    clear: both;
}

@media screen and (max-width: 576px) {
    .headerbuttons .fa-2x {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
    }
}*/
// End DBN Update.